<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>포스트 목록</h2> </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/posts/add}'|"
                    type="button">포스트 등록
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th> <th>작성자</th> <th>작성일</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="post : ${posts}">
                <td><a href="post.html" th:href="@{/basic/posts/{postId}(postId=${post.id})}" th:text="${post.id}">2</a></td>
                <td><a href="post.html" th:href="@{|/basic/posts/${post.id}|}" th:text="${post.title}">제목2</a></td>
                <td th:text="${post.writer}">주호민</td>
                <td th:text="${post.date}">2024-04-06</td>
            </tr>

            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>